.DS_Store
._.DS_Store
.idea
.eclipse
.vscode
sso.sock
project.sublime-project
.gitignore
*~
*.log
*.pyc
*.dump
*.swp
tags
__pycache__/
/tmp
/venv
/TODO
/saml.json
/config.json
/config.tgz
/config
!/.gitignore
*.pem
