.notification-banner {
    font: 500 16px/25px "Lato" !important;
    display: flex;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 325px;
    width: 375px;
    z-index: 999;
    background-color: #EAF4F8;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 16px rgba(0, 117, 163, 0.2), -2px -2px 16px rgba(0, 117, 163, 0.2);
}

.notification-banner .text-content {
    padding-top: 15px;
    flex-grow: 3;
    max-width: 730px;
    margin-right: .3rem;
}

.notification-banner .heading {
    font-weight: bold;
    font-size: 150%;
}

.notification-banner .actions {
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.notification-banner .actions #closeButton {
    background-color: #007fad;
    font-size: 110%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
}
